<div class="inner-content">
  <div class="padding-div" (scroll)="onScroll($event)">
    <div #virtualScrollWrapper class="virtualScroll-rapper">
      <div #thumbnails nz-row [nzGutter]="5" class="thumbnail-content">
        <div nz-col [nzSpan]="3" *ngFor="let video of showItem">
          <div class="image-wrapper" (click)="selectVideo(video.id)">
            <img style="display: block" [src]=video.thumbnail>
          </div>
          <p style="display: block">{{video.title}}</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!--<nz-modal [nzWidth]="900" [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">-->
<!--  <ng-container *nzModalContent>-->
<!--    <video-detail [selectedVideoId]="selectedVideoId"></video-detail>-->
<!--  </ng-container>-->
<!--</nz-modal>-->

