<p>login works!</p>

<form nz-form>

  <nz-form-item>
    <nz-form-label class="test" nzFor="username">username</nz-form-label>
    <nz-form-control>
      <input nz-input type="text" nzSize="default" id="username">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>password</nz-form-label>
    <nz-form-control>
      <input nz-input type="password" nzSize="default">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <button nz-button type="submit" nzType="primary">login</button>
    </nz-form-control>
  </nz-form-item>

</form>
