<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="#" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu [nzOpen]="!isCollapsed" nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="./thumbnail-page">Workplace</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="./multi-condition-search-page">Monitor</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="./welcome">Welcome</a>
          </li>
        </ul>
      </li>
      <li nz-submenu [nzOpen]="!isCollapsed" nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
<!--            <i class="trigger"-->
<!--               nz-icon-->
<!--               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"-->
<!--            ></i>-->
          <i class="trigger"
             nz-icon
             [nzType]="'menu-unfold'"
             [hidden]="!isCollapsed"
          ></i>
          <i class="trigger"
             nz-icon
             [nzType]="'menu-fold'"
             [hidden]="isCollapsed"
          ></i>
        </span>
        <search-bar></search-bar>
        <button *aclIf="'create'" nz-button type="button" nzType="primary" class="video-add-button" (click)="addVideo()">add video</button>
        <nz-switch
          *aclIf="'delete'"
          [(ngModel)]="editThumbnail"
          nzCheckedChildren="QD"
          nzUnCheckedChildren="NV"
          class="edit-thumbnail-switch"
          (ngModelChange)="switchEditThumbnail()">
        </nz-switch>
        <nz-switch
          *aclIf="'update'"
          [nzDisabled]="!editThumbnail"
          [(ngModel)]="swapMethod"
          nzCheckedChildren="SL"
          nzUnCheckedChildren="DG"
          class="swap-method-switch"
          (ngModelChange)="switchSwapMethod()">
        </nz-switch>
        <nz-badge [nzCount]="user ? user.messageCount : -1" class="user-avatar">
          <nz-avatar nzIcon="user" [nzShape]="'circle'" nz-dropdown [nzTrigger]="'click'" [nzDropdownMenu]="userMenu" class="user-head"></nz-avatar>
<!--          <nz-avatar nzIcon="user" [nzShape]="'circle'" class="user-head"-->
<!--                     nz-popover [nzPopoverContent]="userMenu" [nzPopoverTrigger]="'click'" nzPopoverPlacement="bottomRight"-->
<!--                     ></nz-avatar>-->
<!--          [nzPopoverOverlayStyle]="userMenuStyle"-->
<!--          (click)="manuallySetCdkOverlayContainer()"-->
        </nz-badge>
        <nz-dropdown-menu #userMenu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item (click)="openUserInfo()">Your Profile</li>
            <li nz-menu-item>Your Videos</li>
            <li nz-menu-item>Settings</li>
            <li nz-menu-item nzDanger (click)="signOut()">Sign out</li>
          </ul>
        </nz-dropdown-menu>
<!--        <ng-template #userMenu >-->
<!--          <ul nz-menu>-->
<!--            <li nz-menu-item>Your Profile</li>-->
<!--            <li nz-menu-item>Your Videos</li>-->
<!--            <li nz-menu-item>Settings</li>-->
<!--            <li nz-menu-item nzDanger (click)="signOut()">Sign out</li>-->
<!--          </ul>-->
<!--        </ng-template>-->
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
