<nz-layout>
  <nz-header class="outer-layout outer-layout-header">
    <h5 class="video-title">{{video.title}}</h5>
    <nz-switch
      *aclIf="role"
      class="switch-edit-mode"
      [(ngModel)]="editMode"
      nzCheckedChildren="编辑"
      nzUnCheckedChildren="查看"
      (ngModelChange)="switchEdit()">
    </nz-switch>
  </nz-header>

  <nz-content class="outer-layout">
    <div class="video-detail">
      <form nz-form id="videoEditingForm" [formGroup]="videoEditingForm" class="video-editing-form" (ngSubmit)="saveEditedForm()">
        <nz-layout class="form-layout">
          <nz-sider class="form-image-wrapper" [nzWidth]="thumbnailWidth">
            <nz-form-item>
              <nz-form-control>
                <img
                  nz-image
                  width="300px"
                  height="300px"
                  [nzSrc]="video.thumbnail"
                  [nzFallback]="'/assets/imageFallback.png'"
                  alt=""
                />
              </nz-form-control>
            </nz-form-item >
          </nz-sider>

<!--          [nzSpan]="4"-->
<!--          [nzSpan]="14"-->

          <nz-content class="form-data-wrapper">
            <nz-form-item class="form-item">
              <nz-form-label nzFor="title" class="form-item-data-label">title</nz-form-label>
              <nz-form-control>
                <div [hidden]="editMode" class="form-item-data-div">
                  {{video.title}}
                </div>
                <input class="form-item-data-input" formControlName="title" id="title" [hidden]="!editMode" type="text" nz-input (keydown.enter)="saveEditedForm()"/>
              </nz-form-control>
            </nz-form-item >

            <nz-form-item class="form-item">
              <nz-form-label class="form-item-data-label">stars</nz-form-label>
              <nz-form-control class="form-item-link">
                <div class="form-item-data-link-wrap-div">
                  <a
                    *ngFor="let star of arrayTypeDataDict['stars'];let i = index"
                    href="javascript:;"
                    class="form-item-data-link">
                    {{star}}
                    <i *ngIf="editMode" nz-icon nzType="close" nzTheme="outline" (click)="removeLink('stars',i)" class="form-item-data-remove-link"></i>
                  </a>
                  <div *ngIf="editMode" style="display: inline-block">
                    <ng-container *ngIf="!arrayTypeDataInputVisibleDict['stars']">
                      <a href="javascript:;" class="form-item-data-new-link">
                        <i nz-icon nzType="plus" (click)="showDataInput('stars')"></i>
                      </a>
                    </ng-container>
                    <nz-input-group *ngIf="arrayTypeDataInputVisibleDict['stars']" [nzSuffix]="starInputSuffix" [nzCompact]="true">
                      <input
                        #starInputElement
                        nz-input
                        nzSize="small"
                        type="text"
                        [(ngModel)]="arrayTypeDataInputValueDict['stars']"
                        style="width: 78px;height: 22px;"
                        (blur)="handleDataInputConfirm('stars')"
                        (keydown.enter)="handleDataInputConfirm('stars')"
                        [ngModelOptions]="{standalone: true}"
                        nzBorderless
                      />
                    </nz-input-group>
                    <ng-template #starInputSuffix>
                      <a href="javascript:;">
                        <i nz-icon nzType="close" (click)="handleLinkInputClose('stars')"></i>
                      </a>
                    </ng-template>
                  </div>
                </div>
              </nz-form-control>
            </nz-form-item >

            <nz-form-item class="form-item">
              <nz-form-label nzFor="title" class="form-item-data-label">time</nz-form-label>
              <nz-form-control class="form-item-data-date">
                <div [hidden]="editMode" class="form-item-data-date-div">
                  {{video.title}}
                </div>
                <nz-date-picker [hidden]="!editMode" [nzDisabled]="!editMode"></nz-date-picker>
              </nz-form-control>
            </nz-form-item >

            <nz-form-item class="form-item">
              <nz-form-label class="form-item-data-label">tags</nz-form-label>
              <nz-form-control>
                <div class="form-item-data-tag-wrap-div">
                  <nz-tag
                    [class]="!editMode ? 'form-item-data-tag' : ''"
                    *ngFor="let tag of arrayTypeDataDict['tags']; let i = index"
                    [nzColor]="'volcano'"
                    [nzMode]="editMode ? 'closeable' : 'default'"
                    (nzOnClose)="handleTagClose('tags',tag)"
                  >
                    {{ sliceDataName(tag) }}
                  </nz-tag>
                  <div *ngIf="editMode" style="display: inline-block">
                    <nz-tag *ngIf="!arrayTypeDataInputVisibleDict['tags']" class="form-item-data-new-tag" nzNoAnimation (click)="showDataInput('tags')">
                      <i nz-icon nzType="plus"></i>
                      New Tag
                    </nz-tag>
                    <input
                      #tagInputElement
                      nz-input
                      nzSize="small"
                      *ngIf="arrayTypeDataInputVisibleDict['tags']"
                      type="text"
                      [(ngModel)]="arrayTypeDataInputValueDict['tags']"
                      style="width: 78px;height: 22px"
                      (blur)="handleDataInputConfirm('tags')"
                      (keydown.enter)="handleDataInputConfirm('tags')"
                      [ngModelOptions]="{standalone: true}"
                    />
                  </div>
                </div>
              </nz-form-control>
            </nz-form-item>

<!--            <ng-container *ngFor="let a of testArray">-->
<!--              <nz-form-item class="form-item">-->
<!--                <nz-form-label nzFor="title" class="form-item-data-label">title</nz-form-label>-->
<!--                <nz-form-control>-->
<!--                  <div [hidden]="editMode" class="form-item-data-div">-->
<!--                    {{video.title}}-->
<!--                  </div>-->
<!--                  <input class="form-item-data-input" formControlName="title" id="title" [hidden]="!editMode" type="text" nz-input/>-->
<!--                </nz-form-control>-->
<!--              </nz-form-item >-->
<!--            </ng-container>-->

          </nz-content>

        </nz-layout>

<!--        <nz-form-item *ngIf="editMode">-->
<!--          <button nz-button type="submit" nzType="primary">保存修改</button>-->
<!--        </nz-form-item >-->
      </form>
    </div>
  </nz-content>

  <nz-footer class="outer-layout">
    <nz-space [nzSize]="15">
      <ng-container *aclIf="role">
        <button *nzSpaceItem nz-button type="button" [disabled]="!modified" [nzLoading]="loading" nzType="primary" (click)="applyChange()">
          <i nz-icon nzType="poweroff"></i>
          提交修改
        </button>
      </ng-container>
      <button *nzSpaceItem nz-button type="button" nzType="default" (click)="goBack()">返回</button>
    </nz-space>

    <ng-container *aclIf="role">
      <button
        nz-button
        *ngIf="editMode"
        type="submit"
        form="videoEditingForm"
        nzType="primary"
        class="save-form-button">
          保存修改
      </button>
    </ng-container>
  </nz-footer>
</nz-layout>


<!--  按下回车 与提交表单按钮；当输入框是多个时。-->
<!--  如果 type=button 则回车不会提交表单；-->
<!--  如果 type=submit则回车会提交表单；-->


