@edit-formcontrol-height: 27px;

.modal-layout {
  background-color: white;
}

.video-detail {
  width: 400px;
  height: 1000px;
}

.text-form-item {
  height: @edit-formcontrol-height;
  margin-top: 10px;
}

.text-form-item nz-form-label,div {
  line-height: @edit-formcontrol-height;
}

.text-form-item div {
  padding-left: 3px;
}

.editting-cell {
  height: @edit-formcontrol-height;
  border: 1px dashed #4d4c4c;
}

.editable-tag {
  border: 1px dashed #1cc9df;
}

nz-input-group {
  width: 97px;
  padding: 0;
  border: 0;
}

input:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(87,168,233, .2);
  box-shadow: 0 0 0 0 rgba(87,168,233, .2);
}

.ant-input-affix-wrapper:focus,.ant-input-affix-wrapper-focused{
  -webkit-box-shadow: 0 0 0 0 rgba(87,168,233, .2);
  box-shadow: 0 0 0 0 rgba(87,168,233, .2);
  transition: none;
}

.ant-input-affix-wrapper {
  transition: none;
}

.ant-input {
  transition: none;
}

nz-input-group input {
  border-bottom: 1px solid rgb(24, 144, 255);
}
