@form-item-height: 27px;
@modal-content-height: 600px;

//用两个div分别装img和data可以自动换行，但是对于编辑这一功能来说不算方便，编辑页面应保持结构稳定，故使用overflow(设计应该跟着需求走)

.video-title {
  display: inline-block;
  position: absolute;
  width: 900px;
  bottom: 12px;
  margin-bottom: 0;
  font-size: 50px;
}

.outer-layout {
  background-color: white;
}

.outer-layout-header {
  position: relative;
  padding-left: 0;
}

.video-detail-content {
  width: 100%;
  height: @modal-content-height;
  overflow-x: auto;

  .video-editing-form {
    //width: 100%;
    width: 1252px; //modalwidth(1300)去掉左右padding(24)之后的余量，且定值才好设置overflow
    height: 100%;

    .form-layout {
      width: 100%;
      height: 100%;
      background-color: white;

      .form-image-wrapper { //就是form里的sider
        display: inline-block;
        height: 100%;
        padding-top: 10px;
        border-right: 1px solid rgb(195, 191, 191);
        background-color: white;
      }

      .form-data-wrapper { //就是form里的content
        display: inline-block;
        padding-top: 10px;
        padding-left: 20px;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
      }
    }
  }
}

.form-item {
  //height: @form-item-height;
  margin-bottom: 20px;
  //width: 482px; //1252-thumbnailwidth-paddingleft(20)
  //width: 100%; //1252-thumbnailwidth-paddingleft(20)
  max-width: 100%; //1252-thumbnailwidth-paddingleft(20)

  .form-item-label {  //nzlabel比原生差的地方在与nzlabel在缩放最小状态下会换行
    display: inline-block;
    //width: 50px;
    width: 10%;
    line-height: @form-item-height;
    text-align: right;
  }

  //.form-item-data-label:after {
  //  content: ":";
  //  position: relative;
  //  top: -0.5px;
  //  margin: 0 8px 0 2px;
  //}

  .form-item-control-text {
    .form-item-data-div {
      height: @form-item-height;
      line-height: @form-item-height;
      padding-left: 3px;
    }

    .form-item-data-input {
      height: @form-item-height;
      //width: 300px;
      //width: 80%;
      max-width: 80%;
      padding-left: 2px;
      border: 1px dashed #4d4c4c;
    }
  }

  .form-item-control-link {
    .form-item-data-link-wrap-div {
      line-height:@form-item-height;
      padding-left: 3px;
    }

    .form-item-data-link {
      display:inline-block;

    }

    .form-item-data-link:after {
      content: ",";
      position: relative;
      top: -0.5px;
      margin: 0 5px 0 1px; //上右下左
    }

    .form-item-data-remove-link {
      font-size: 12px;
      color: #c01010;
    }

    .form-item-data-new-link {
      line-height: @form-item-height;
    }

    .form-item-data-link-wrap-div {
      //width: 100%;
      max-width: 100%;
    }

    .form-item-data-link-wrap-div nz-input-group input {
      border-bottom: 1px solid rgb(24, 144, 255);
    }

    .form-item-data-link-wrap-div nz-input-group {
      width: 100px;
      padding: 0;
      border: 0;
    }
  }

  .form-item-control-date {
    line-height: @form-item-height;
    padding-left: 0;

    .form-item-data-date-div {
      line-height: @form-item-height;
      padding-left: 3px; //11px
    }
  }

  .form-item-control-tag {
    .form-item-data-tag-wrap-div {
      display:inline-block;
      //width: 400px;
      //width: 100%;
      max-width: 100%;
      line-height: @form-item-height;
      padding-left: 3px;
    }

    //.form-item-data-tag-wrap-div nz-tag {
    //  width: 300px;
    //  height: 300px;
    //}

    .form-item-data-tag:hover {
      cursor: pointer;
      background-color: rgb(255, 187, 150);
    }

    .form-item-data-new-tag {
      border: 1px dashed #1cc9df;
    }
  }

}

.switch-edit-mode {
  float: right;
}

.delete-video-button {
  float: right;
  margin-right: 17px;
}

.save-form-button {
  float: right;
}

//----主要是消除zorro自带的input和input group的focus样式----------------------------
input:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(87,168,233, .2);
  box-shadow: 0 0 0 0 rgba(87,168,233, .2);
}

.ant-input-affix-wrapper:focus,.ant-input-affix-wrapper-focused{
  -webkit-box-shadow: 0 0 0 0 rgba(87,168,233, .2);
  box-shadow: 0 0 0 0 rgba(87,168,233, .2);
  transition: none;
}

.ant-input-affix-wrapper {
  transition: none;
}

.ant-input {
  transition: none;
}
//------------------------------------------------------------------------------
